@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.OrderBookList {
  flex-grow: 1;
  width: 49%;

  &:first-child {
    margin-right: 0.5%;
  }

  .OrderBookList-Data {
    width: 100%;

    th {
      text-transform: uppercase;
      color: $color-text-secondary;
      padding: 3px;
      font-size: 0.9em;
      text-align: right;
    }
  }
}