@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.OrderBook {
  @include BaseComponentStyle();

  .OrderBook-Title {
    color: $color-text-primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid darken($color-text-secondary, 30%);

    span {
      color: $color-text-secondary;
    }

    button {
      background: $color-bg-component;
      border: none;
      font-size: 1em;
      cursor: pointer;
      float: right;
      text-decoration: none;
      font-weight: bold;
      padding: 0 8px;
      color: $color-text-title;
      &:hover {
        color: $color-text-active;
      }
      &:disabled {
        color: $color-text-secondary;
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  .OrderBook-Lists {
    display: flex;
    flex-wrap: wrap;

  }
}