@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.Ticker {
  @include BaseComponentStyle();
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;

  div {
    flex-grow: 1;
    width: 50%;
    color: $color-text-secondary;
    margin: 4px 0;
    span {
        color: $color-text-primary;
    }
  }

  .Ticker-Pair,
  .Ticker-Last-Price {
    color: $color-text-title;
    font-weight: bold;
    font-size: 1.2em;
    span {
      color: $color-text-title;
    }
  }
  .Ticker-Daily-Change {
    &.Ticker-Daily-Change--down {
      color: lighten($color-trade-negative-high, 20%);
      span:first-child:after {
        content: "▾ ";
      }
    }
    &.Ticker-Daily-Change--up {
      color: lighten($color-trade-positive-high, 20%);
      span:first-child:after {
        content: "▴ ";
      }
    }
    span {
      color: inherit;
    }
  }
}