@import '../../styles/_variables.scss';

@mixin BaseComponentStyle() {
  background: $color-bg-component;
  color: $color-text-primary;
  margin-bottom: $margin-component;
  padding: $padding-component;
  border-radius: $radius-component;
  border: 1px solid $color-border-component;
}