$font-family: "Helvetica Neue", "Helvetica", "sans-serif";
$color-bg-app: #273238;
$color-bg-component: #1a2228;
$color-border-component: #182025;
$color-text-title: #fff;
$color-text-primary: #bcc0c2;
$color-text-secondary: #7b8184;
$color-text-active: yellow;
$color-trade-positive: #2e3f2b;
$color-trade-positive-high: #6c8536;
$color-trade-negative: #3f272e;
$color-trade-negative-high: #782d2a;
$color-connection-connected: lime;
$color-connection-connecting: yellow;
$color-connection-offline: silver;
$color-connection-error: red;
$radius-component: 5px;
$margin-component: 5px;
$padding-component: 7px;