@import '_reset.scss';
@import '_variables.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $color-bg-app;
  font-family: $font-family;
}