@import '../../styles/_variables.scss';

.App {
  max-width: 85%;
  margin: 0 auto;
  padding-top: 2em;

  .App-Title {
    color: $color-text-title;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  .App-Columns {
    display: flex;

    .App-Column {
      margin-right: $margin-component;

      &:first-child {
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
    }
  }
}