@import '../../styles/_variables.scss';

.Connection {
  font-size: 0.7em;
  margin-top: 5px;

  &.Connection--offline {
    color: $color-connection-offline;
  }
  &.Connection--connecting {
    color: $color-connection-connecting;
  }
  &.Connection--connected {
    color: $color-connection-connected;
  }
  &.Connection--error {
    color: $color-connection-error;
  }

  button {
    margin-left: 5px;
  }
}