@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.OrderBookItem {
  @include BaseComponentStyle();

  &.OrderBookItem--buy {
    background: $color-trade-positive;
  }
  &.OrderBookItem--sell {
    background: $color-trade-negative;
  }
  td {
    text-align: center;
    padding: 3px;
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: right;
  }
}