@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.TradeList {
  @include BaseComponentStyle();

  .TradeList-Title {
    color: $color-text-primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid darken($color-text-secondary, 30%);

    span {
      color: $color-text-secondary;
    }
  }

  .TradeList-Data {
    width: 100%;


    th {
      text-transform: uppercase;
      color: $color-text-secondary;
      padding: 3px;
      font-size: 0.9em;
      &:last-child {
        text-align: right;
      }
    }
  }
}