@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.TradeItem {
  @include BaseComponentStyle();


  &.TradeItem--buy {
    background: darken($color-trade-positive, 5%);

    td:first-child {
      color: $color-trade-positive-high;
    }
  }
  &.TradeItem--sell {
    background: darken($color-trade-negative, 5%);

    td:first-child {
      color: $color-trade-negative-high;
      transform: scale(1, -1);
    }
  }
  td {
    text-align: center;
    padding: 3px;
    font-size: 0.9em;
    line-height: 1.1em;

    &:first-child {
      font-weight: bold;
      font-size: 1.1em;
    }
    &:last-child {
      text-align: right;
    }
  }
}